*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.container__nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
.container__nav .logo {
  margin-left: 1em;
}
.container__nav .nav-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.container__nav .nav-lista .nav-item {
  padding-right: 2em;
  text-decoration: none;
  color: #667085;
  transition: 0.5s;
}
.container__nav .nav-lista .nav-item:hover {
  font-size: 1.05em;
}
.container__nav .buttons {
  display: flex;
  margin-right: 1em;
}
.container__nav .buttons .login-button {
  width: 112px;
  height: 44px;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
  background-color: #FFF;
  color: #667085;
}
.container__nav .buttons .login-button:hover {
  font-size: 1.05em;
}
.container__nav .buttons .signIn-button {
  width: 112px;
  height: 44px;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
  color: #FFF;
  background-color: #8E2424;
}
.container__nav .buttons .signIn-button:hover {
  font-size: 1.05em;
}

@media screen and (max-width: 850px) {
  .nav-lista {
    display: none;
  }
  .nav-item {
    display: none;
  }
}
body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
}

/* CLASSES */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 16px;
}
@media (min-width: 1280) {
  .container {
    max-width: 1050px;
  }
}

.about-us {
  padding: 5em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-us .introducao {
  color: #8E2424;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 2em;
}
.about-us .titulo {
  font-size: 3em;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #101828;
}
.about-us .descricao {
  font-size: 1.25em;
  color: #667085;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .about-us {
    padding: 2rem;
  }
}
.cards {
  display: flex;
  width: 1280px;
  padding-bottom: 6em;
}
.cards .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem;
  width: 280px;
  height: 192px;
}
.cards .card .numero-card {
  color: #8E2424;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 0.75rem;
}
.cards .card .titulo-card {
  font-size: 1.1rem;
  color: #101828;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.cards .card .descricao-card {
  color: #667085;
  line-height: 24px;
  font-weight: 400;
}

.vagas {
  text-align: center;
}
.vagas .introducao {
  color: #8E2424;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(142, 36, 36, 0.05);
  padding: 0.25rem 0.75rem;
  border-radius: 1em;
}
.vagas .titulo {
  font-size: 2.25em;
  font-weight: 600;
  margin-top: 1em;
  color: #101828;
}
.vagas .descricao {
  margin-top: 1.5em;
  margin-bottom: 3rem;
  color: #667085;
  font-size: 20px;
}
.vagas .image {
  width: 80%;
  border-radius: 10px;
}

.design {
  margin-top: 4rem;
}
.design .area {
  font-size: 20px;
  font-weight: 500;
  color: #101828;
  display: block;
  margin-bottom: 1.5rem;
}
.design .area-secundaria {
  font-size: 20px;
  font-weight: 500;
  color: #101828;
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 2em;
}
.design .card {
  margin-bottom: 1.5em;
  border: 1px solid rgb(234, 236, 240);
  border-radius: 1em;
  padding: 1.5em;
}
.design .card .profissao {
  font-size: 18px;
  font-weight: 500;
  color: #101828;
  display: block;
  margin-bottom: 2rem;
}
.design .card .hora-trabalho {
  color: #667085;
  font-size: 1em;
  margin-right: 1.5em;
  font-weight: 500;
}
.design .card .faixa-salarial {
  color: #667085;
  font-size: 1em;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  .design {
    width: 100%;
  }
  .cards {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}
.documents {
  text-align: center;
  padding: 4em;
}
.documents .titulo {
  color: #8E2424;
  font-weight: 600;
  font-size: 14px;
}
.documents .descricao {
  color: #101828;
  font-size: 2.25rem;
  margin-top: 1rem;
  font-weight: 500;
}
.documents .avatar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.documents .avatar .image {
  width: 56px;
  height: 56px;
  margin: 0 auto;
}
.documents .avatar .nome {
  font-weight: 500;
  color: #101828;
  font-size: 1rem;
  margin-top: 1rem;
}
.documents .avatar .profissao {
  color: #667085;
  font-weight: 400;
  margin-top: 0.25rem;
  font-size: 14px;
}

.footer {
  padding: 6em;
  text-align: center;
}
.footer .titulo {
  font-weight: 600;
  font-size: 2.25em;
  color: #101828;
}
.footer .descricao {
  margin-top: 1.5rem;
  color: #667085;
  font-weight: 400;
}
.footer .formulario {
  margin-top: 1.5em;
}
.footer .formulario .campo {
  border: 1px solid rgb(234, 236, 240);
  border-radius: 0.5rem;
  width: 50%;
  padding: 1rem;
  margin-right: 0.5rem;
}
.footer .formulario .button {
  width: 112px;
  height: 44px;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
  background-color: #8E2424;
  color: #FFF;
}
.footer .formulario .button:hover {
  font-size: 1.05em;
}
.footer .direitos-autorais {
  margin-top: 2em;
  color: #667085;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 2rem;
  }
}/*# sourceMappingURL=main.css.map */