@import '../abstract/variables';

.cards {
    display: flex;
    width: 1280px;
    
    padding-bottom: 6em;
    
    .card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 1rem;
        width: 280px;
        height: 192px;
        
        .numero-card {
            color: $cor-vermelha;
            font-weight: 600;
            font-size: 60px;
            margin-bottom: 0.75rem;
        }

        .titulo-card {
            font-size: 1.1rem;
            color: $cor-azul-escuro;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        .descricao-card{
            color: $cor-cinza;
            line-height: 24px;
            font-weight: 400;
        }

    }
}